<!DOCTYPE html>
<html>
  <head>
    <title>Tempapp</title>
    <%= csrf_meta_tags %>
<<<<<<< HEAD
	<%= stylesheet_link_tag 'bootstrap', media: 'all' %>
	<%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'bootstrap', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-3.3.1.min.js': 'reload', 'morris.js': 'reload', 'raphael.min.js': 'reload' %>
    
=======
   <%= stylesheet_link_tag    media: 'all', 'data-turbolinks-track': 'reload'%>
   <%= javascript_include_tag 'data-turbolinks-track': 'reload' %>

 
>>>>>>> 4a72840af4c3d94de26db304ab4541dfe5c65b15
  </head>

  <body>
  <div id = "header">
  	<%= render "layouts/navigation" %>
</div>

<div id = "content">
  <div id="flash">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>
	<%= yield %>
</div>
<div id="footer">
   &copy; Alexander Lomtev
  </div>
    
  </body>
</html>
